<div class="jumbotron">
  <a type="button" class="btn btn-lg btn-default" href="><span class="glyphicon glyphicon-flash"></span> Register</a>
  <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Login</a>
  <div class="text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="<%= asset_path('volundeer.png') %>" height="80" width="80">
      </a>
      <h2>Volundeering</h2>
      <p>Register for opportunities to volunteer that match your interests, availability and location!</p>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <br>
      <tr>
        <th>Task asked...</th>
        <th>Approximate Duration</th>
        <th>Keywords</th>
        <th>Available</th>
      </tr>
    <tbody>
      <% @needs.each do |need| %>
        <tr class="need">
          <td>
            <div class="description">
              <p><%= need.description %></p>
            </div>
          </td>
          <td class="time">
            <div>
              <p>
                <span class="duration"><%= need.duration %></span> minutes
                between <span class="datetime_range"> <%= need.datetime_range_start %> </span>
                and <span class="datetime_range"><%= need.datetime_range_end %></span>
              </p>
            </div>
          </td>
          <td>
            <div class="categories">
              <p>
                <%= need.categories%>
              </p>
            </div>
          </td>
          <td>
            <div class="taken">
              <%= button_to "Take it!", {action: "take", id: need.id}, method: :put , :disabled => need.is_taken?
              %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




