<div class="jumbotron">
  <a type="button" class="btn btn-lg btn-default" href="><span class="glyphicon glyphicon-flash"></span> Register</a>
  <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Login</a>
  <div class="text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="<%= asset_path('volundeer.png') %>" height="80" width="80">
      </a>
      <h2>Volundeering</h2>
      <p>How can we help you? Please fill in the form below.</p>
    </div>
  </div>
</div>

<div class="container">
  <br>
    <%= form_for @need,  url: { action: "create" }, :html => {:class => "form-horizontal center"} do |need| %>
      <div class="form-group">
        I need help with...
        <div class="col-md-8">
          <%= need.text_field :description, class: "form-control", :placeholder => "task..." %>
        </div>
      </div>
      <div class="form-group">
        For approximately...
        <div class="col-md-8">
          <%= need.number_field :duration, class: "form-control", :placeholder => "minutes..." %>
        </div>
      </div>

      <div class="form-group">
        Between...
        <div class="col-md-8">
          <%= need.datetime_local_field :datetime_range_start, class: "form-control" %>
        </div>
        <div class="col-md-8">
          <%= need.datetime_local_field :datetime_range_start, class: "form-control" %>
        </div>
        <br />
      </div>

      <%= need.submit "Submit", class: "btn btn-default btn-primary" %>
    <% end %>
</div>
